button {
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #192939, #4ce3f7);
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 17px;
    padding: 0.6em 1.5em;
   }
   
   button:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
   }

   .cut-btn1{
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #000000, #0000005a);

    margin: 2px;
    border-radius: 5px;
    width: 40px;
    font-family: inherit;
    font-size: 17px;
    padding: 0.1em 0.3em;
   }
   
   .custom-text {
    font-size: 10px; 
  }
  .span-blue{
    color: rgb(103, 103, 248);
  }
  
  .form-div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Add other styles for your div here */
  }
   
   @keyframes pulse512 {
    0% {
     box-shadow: 0 0 0 0 #05bada66;
    }
   
    70% {
     box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }   
   
    100% {
     box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
   }